.section1{

    /* 背景图片先写的层级最高，会覆盖后面 */
    background: url('../images/01/products.png') no-repeat center center,
                url('../images/01/bg.png') no-repeat center bottom; 
}

.section1 .sofa{

    position: absolute;
    left:50%;
    margin-left: -180px;
    top:150px;
    animation: shake .6s infinite alternate;
}

.section1 .ball{
    position: absolute;
    right:20px;
    top:80px;
    animation: shake .6s infinite alternate;
}


@keyframes shake{

    from{}
    to{
        transform: translateY(-50px);
    }
}


/***************** 第二屏开始 *****************/

.section2{

    background: url(../images/02/bg.png) no-repeat center bottom;
}

.section2 .search{

    position: absolute;
    right:20px;
    top:50%;
    margin-top: -23px;
}

.section2 .sofas{
    position: absolute;
    right:50%;
    margin-right: -220px;
    bottom:200px;
    width:0;
    height:0;
}



/***************** 第三屏开始 *****************/
.section3{

    background: url(../images/03/bg.png) no-repeat center;
}

.section3 .sofa{

    position: absolute;
    left: 50%;
    margin-left:-235px;
    bottom: 50%;
    margin-bottom: -60px;
}

.section3 .color{

    width: 296px;
    height: 131px;
    background:url(../images/03/color01.gif);

    position: absolute;
    left:50%;
    margin-left: 40px;
}

.section3 .add{

    width: 218px;
    height: 58px;
    background: url(../images/03/add01.gif);
    position: absolute;
    left:50%;
    margin-left: 40px;
    bottom: 100px;
}

.section3.animation .color{

    transition: all 1s;
    background: url(../images/03/color02.gif);
}

.section3.animation .add{

    transition: all 1s;
    background: url(../images/03/add02.gif);
}


/***************** 第四屏开始 *****************/
.section4{

    background: url(../images/04/bg.png) no-repeat center bottom;
}


.section4 .cloud{

    position: absolute;
    top:30px;
    right:0; 
    animation: cloud 55s linear infinite;   
}

/* 云朵飘动的剧本 */
@keyframes cloud{

    from{}
    to{

        transform: translateX(-1500px);
    }
}


/* 设置键盘 */

.section4>div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.section4 .keyboard{

    width: 283px;
    height: 270px;
    background: url(../images/04/keyboard.png);

    position: relative;

    opacity: 0;
}


.section4 .address{

    position: absolute;
    left:50px;
    top:60px;
}


.section4 .carBox{
    
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -200px;
    margin-top: -100px;
}

.section4 .sofa{

    position: absolute;
    left:120px;
    top:-30px;
}


.section4 .car{
    position: absolute;
}


/***************** 第五屏开始 *****************/
.section5{
    
    background: url(../images/05/bg.png);

    perspective: 800px;
}

.section .cardBox{
    position: absolute;
    right:50%;
    width:358px;
    height: 221px;
    top:40%;
}

.section5 .bill{

    position: absolute;
    left:160px;
    top:0px;
}

.section5 .card{
    position: absolute;
}


.section5 .mouse{

    width: 205px;
    height: 400px;
    background: url(../images/05/mouse01.png) no-repeat center bottom;

    position: absolute;
    left:70%;
    top:0;
}

.section5 .hand{
    position: absolute;
    left:68%;
    bottom: -100px;
}


.section5 .words{

    position: absolute;
    left:50%;
    margin-left: -270px;
    top:40px;

    opacity: 0;
    transform-style: preserve-3d;
    transform: rotateY(0deg) scale(1);
}

.section5.animation .hand{
/* transition只能对原本写了的属性有动画效果，原来没写就没动画效果 */
    transition: all 1s;
    bottom: 0;
}



.section5.animation .mouse{

    transition: all 1s 1s;
    background: url(../images/05/mouse02.png) no-repeat center bottom;
}

.section5.animation .bill{

    transition: all 1s 2s;
    top:-130px;
}

.section5.animation .words{

    transition: all 1s 3s;
    opacity: 1;
    transform: rotateY(360deg) scale(1.5);
}


/***************** 第六屏开始 *****************/
.section6{

    background: url(../images/06/bg.png) no-repeat -230px bottom;
}

.section6 .carBox{

    position: absolute;
    width: 221px;
    height: 122px;
    left:500px;
    bottom: 80px;
}

.section6 .sofaBox{

    position: relative;
    top:-350px;
}

.section6 .sofa{

    width: 80px;
    position: absolute;
    left:20px;
    top:-20px;
}

.section6 .box{
    position: absolute;
}


.section6 .car{
    position: absolute;
}

.section6 .man{
    height: 0;
    position: absolute;
    right:10px;
    bottom: 10px;
}

.section6 .door{

    position: absolute;
    left:910px;
    bottom:116px;
    display: none;
}

.section6 .girl{

    position: absolute;
    left:960px;
    bottom:116px;
    height:100px;
    display: none;
}


/***************** 第七屏开始 *****************/
.section7{

    background: url('../images/07/bg.png') no-repeat center bottom;
}

.section7 .star{

    position: absolute;
    background: url('../images/07/stars3.png');
    /* width:122px; */
    width:0;
    height: 17px;
    bottom: 442px;
    left:342px;
}

.section7 .good{

    position: absolute;
    left:380px;
    bottom:382px;
    opacity: 0;
}

.section7.animation .star{

    transition: all 1s steps(5);
    width:105px;
}

.section7.animation .good{

    transition: all 1s 1s;
    opacity: 1;
}

/***************** 第八屏开始 *****************/
.section8{
    background: url(../images/08/bg.png)
}

.section8 .begin{
    width: 389px;
    height: 160px;
    background: url(../images/08/begin.png);
    position: absolute;
    left: 50%;
    margin-left: -195px;
    top:20px;
}

.section8 .hand{

    position: absolute;
    /* 当点击时不要触发手的点击事件，换句话说，这个手不接收事件  */
    pointer-events: none;
}

/* 用的gif值放一下，如果用mouseover，会一直放 */
/* .section8 .begin:hover{

    background: url(../images/08/begin.gif);
} */

.section8 .again{

    position: absolute;
    right:80px;
    bottom: 120px;
}