<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        input{

            display: block;
            margin: 50px auto;
            width:120px;
            height: 65px;
        }

        table{
            margin: 50px auto;
            /* 合并单元格的边框 */
            border-collapse: collapse;
        }

        th,td{
            border: 1px solid #000;
            width: 80px;
            height: 50px;
            text-align: center;
        }
    </style>
</head>

<body>
    <input type="button" value="加载数据" id="load">
    <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>成绩</th>
            </tr>
        </thead>

        <tbody>
                
        </tbody>

    </table>
</body>

</html>

<!-- 1.导入模板 -->
<script src="../08_template/template-web.js"></script>
<!-- 2.准备模板 -->
<script type="text/html" id="tpl">

<% for(var i = 0; i < list.length; i++) { %>

    <tr>
        <td><%= list[i].Id %></td>
        <td><%= list[i].name %></td>
    <% if( list[i].age >= 18 ) { %>
        <td>成年</td>
    <% }else { %>
        <td>未成年</td>
    <% } %>
        <td><%= list[i].score %></td>
    </tr>

<% } %>

</script>


<script>

    //找到tbody,只会找到第一个
    var tb = document.querySelector('tbody'); //document.getElementsByTagName('tbody')[0];

    document.getElementById('load').onclick = function(){

        //1. 创建请求对象
        var xhr = new XMLHttpRequest();
        //2. 设置请求行
        xhr.open('get','data.php'); 
        //3. 发送请求
        xhr.send();

        //4. 监听响应完成
        xhr.onreadystatechange = function(){

            if(xhr.readyState == 4 && xhr.status == 200){

                //响应体转成数组
                var arr = JSON.parse(xhr.responseText);
                console.log(arr);
                
                //3. 调用模板
                var html =  template('tpl',{ list: arr });
                console.log(html);
                
                tb.innerHTML = html;
            }
        }
    }
</script>